<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
      <tr>
        <td><%= link_to(book.user) do %>
          <%= image_tag book.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to book.title,book, class: "book_#{book.id}" %></td>
        <td><%= book.body %></td>

        <td id="favorite_buttons_<%= book.id %>">
          <%= render "favorites/favorites", book: book %>
        </td>

          <!--ここから星機能追加-->
        <td>
          <div id="star-rate<%= book.id%>"> </td>
          <script>
            $('#star-rate<%= book.id %>').empty();
            $('#star-rate<%= book.id%>').raty({
              size: 36,
              starOff: '<%= asset_path('star-off.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              starOn: '<%= asset_path('star-on.png') %>',
              half: true,
              readOnly: true,
              score: <%= book.star %>,
            });
          </script>
          </div>
          <!--ここまで追加-->

        <td>
          <p>コメント数<%= book.book_comments.count %></p>
        </td>
        
        <!--ソート機能、日本時間表示-->
        <td>
          <%= l book.created_at %>
        </td>
        <!--ここまで-->
        
      </tr>
    <% end %>
  </tbody>
</table>
